openapi: 3.0.0
info:
  title: VG Sales API
  description: API for managing video game data. Developed for Linnaeus University.
  version: 1.0.0

servers:
  - url: https://cu3040.camp.lnu.se/
    description: Production server
  - url: http://localhost:3000/
    description: Local development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        userId:
          type: string
          example: 65e1f1...
        username:
          type: string
          example: arvid_dev
    
    Game:
      type: object
      description: >
        **NOTE:** To create a game, you must replace the platform and publisher 
        IDs in the example below with real IDs from the /platforms and /publishers endpoints.
      properties:
        rank:
          type: number
          example: 1
        name:
          type: string
          example: "Wii Sports"
        year:
          type: number
          example: 2006 
        platform:
          type: string
          description: >
            The unique ID of the platform. 
            Step 1: Call GET /platforms to find a valid ID.
            Step 2: Paste that ID here.
          example: "000000000000000000000000"
        publisher:
          type: string
          description: >
            The unique ID of the publisher. 
            Step 1: Call GET /publishers to find a valid ID.
            Step 2: Paste that ID here.
          example: "000000000000000000000000"
        genre:
          type: string
          example: "Sports"
        sales:
          type: object
          properties:
            na:
              type: number
              example: 10.5
            eu:
              type: number
              example: 5.2
            jp: 
              type: number
              example: 4.1
            other: 
              type: number
              example: 2.3
            global: 
              type: number
              example: 19.7

paths:
  /auth/register:
    post:
      summary: Register a new user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username: { type: string, minLength: 3 }
                password: { type: string, minLength: 10 }
      responses:
        201:
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  token: { type: string }
                  data: { $ref: '#/components/schemas/User' }
        400:
          description: Invalid input (e.g., invalid password)

  /auth/login:
    post:
      summary: Log in a user
      tags: [Auth]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username: { type: string, minLength: 3  }
                password: { type: string, minLength: 10  }
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
        401:
          description: Authentication failed

  /games:
    get:
      summary: Get all games (Paginated)
      tags: [Games]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: platform
          in: query
          schema: { type: string }
        - name: publisher
          in: query
          schema: { type: string }
        - name: genre
          in: query
          schema: { type: string }
      responses:
        200:
          description: List of games
    post:
      summary: Create game
      tags: [Games]
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Game' 
      responses:
        201:
          description: Game created successfully
  /games/{id}:
    get:
      summary: Get one game
      tags: [Games]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          description: Game found successfully
        400:
          description: Invalid ID
        404:
          description: Game not found
    patch:
      summary: Update one game
      tags: [Games]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Game' 
      responses:
        200:
          description: Game updated successfully
        400:
          description: Invalid ID
        401:
          description: Unauthorized
        404:
          description: Game not found
    delete:
      summary: Delete one game
      tags: [Games]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        204:
          description: Game deleted successfully
        400:
          description: Invalid ID
        401:
          description: Unauthorized
        404:
          description: Game not found

  /platforms:
    get:
      summary: Get all platforms (Paginated)
      tags: [Platforms]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: name
          in: query
          schema: { type: string }
      responses:
        200:
          description: List of platforms
  /platforms/{id}:
    get:
      summary: Get one platform
      tags: [Platforms]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          description: Platform found successfully
        400:
          description: Invalid ID
        404:
          description: Platform not found

  /publishers:
    get:
      summary: Get all publishers (Paginated)
      tags: [Publishers]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: name
          in: query
          schema: { type: string }
      responses:
        200:
          description: List of publishers
  /publishers/{id}:
    get:
      summary: Get one publisher
      tags: [Publishers]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          description: Publisher found successfully
        400:
          description: Invalid ID
        404:
          description: Publisher not found
    
  /users/{id}:
    delete:
      summary: Delete a user
      tags: [Users]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        204:
          description: User deleted successfully
        400:
          description: Invalid ID
        401:
          description: Unauthorized
        404:
          description: User not found